.item {
    list-style:none;
    color:blue;
    text-align: center;
    border: solid 2px;
    background-color:aqua;
   
    
  }
  .red{
color:red;
  }
  .green{
color:green;
  }
 .friendList{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    
 }
 .status{
    color:green;
 }